
body {
    margin: 0;
    padding: 0;
    background-image: url('C:\Users\alin1\Desktop\HHH\hustle-hack-harmony-fe\src\components\images\plain-black-background-02fh7564l8qq4m6d.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    font-family: Arial, sans-serif; 
  }

  

.main_container 
{
  display: flex;
  flex-direction: column;
}



  .chatWindow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
  }
  
.chatWindow_top 
{
  height: 3.7vh;
  background-color: #3f3f3f;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

  .toggleButton {
    position: absolute;
    top: 7px;
    right: 6px;
    cursor: pointer;
  }
  
  .toggleButtonClosed {
    position: absolute;
    bottom: -50px;
    right: 16px;
    cursor: pointer;
    background-color: #0f62fe;
    padding: 15px;
    border-radius: 100%;
  }

  .toggleButtonClosed img 
  {
    width: 30px;
    height: 30px;
  }


  .toggleButton img {
    width: 24px;
    height: 24px;
  }
  
  .messageDisplay {
    height: 300px; 
    overflow-y: auto;
  }
  
.msg_box 
{
  display:flex;
  width: 100%;
  border-radius: 4px;
  
  margin-top: 5px;
  margin-bottom: 5px;
}

.msg_box_usr 
{
  background-color: rgb(30, 138, 238);
  margin-left: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  color: white;
  line-height: 2;
}

.msg_box_bot 
{
  background-color: rgb(235, 235, 235);
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  color: rgb(63, 63, 63);
  line-height: 2;
}

.msg_usr
{
  width:90%;
  text-align: left;
  padding-left: 15px;
  padding-right: 10px;
  font-weight: 600;
  font-size: small;
}

.msg_user_avatar 
{
  padding-right: 10px;
}

.msg_bot
{
  width:90%;
  text-align: left;
  padding-left: 15px;
  padding-right: 10px;
  font-weight: 600;
  font-size: small;
}

.msg_bot_avatar 
{
  padding-left: 10px;
}

  .messageInput {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .inputField {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }
  
  .sendButton {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  