.navBar ul {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

li a:hover {
  background-color: #1DA15E;
  color: white;
}

.logout {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  margin-left: auto;
}
.logout:hover {
  background-color: #1DA15E;
  color: white;
}