.chat_window 
{
    position: absolute;
    top: 10vh;
    left:25vw;

    display: flex;
    flex-direction: column;

    width: 50vw; 
    height: 80vh;

    background-color: rgba(241, 241, 241, 0.928);
    z-index: 1;
    
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);   
}

.chat_box_top 
{
    height:5vh;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.928);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0.1px solid rgb(192, 192, 192);
}

.chat_box 
{
    width: 100%; 
    height: 90%;
    background-color: rgba(241, 241, 241, 0.928);
    display:flex;
    flex-direction: column;
    overflow: auto;
}



.sub_box 
{
    width: 100%;
    height: 10%;
    background-color: rgb(224, 224, 224);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    justify-content: center;
    align-content: center;
}

.chat_inputfield 
{
    width: 22vw;
    height: 2.5vh;

    border: 1px solid rgb(121, 121, 121);
    border-radius: 5px;
}

.chat_inputfield_btn 
{
    margin-left: 10px;
    width: 6vw;
    height: 2.7vh;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 5px;
    background-color: #48aa4c;
    color:white;
}

.chat_inputfield_btn:hover
{
    background-color: #3d9140;
}

.close_chat_btn 
{
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-weight: lighter;
    font-size: 2.4vh;
}



.chat_msg_C
{
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    text-align: right;

    height:fit-content;
    width: fit-content;

    padding-left: 20px;
    align-content: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.chat_msg_CS 
{
    align-self: flex-start;
    display: flex;
    margin-left: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    
    text-align: left;
    
    height:fit-content;
    
    width: fit-content;
    max-width: 80%;



    padding-right: 20px;
    align-content: center;
    background-color: #48aa4c;
    border-radius: 10px;
    color:white;
}

.msg_icon_CS {
    border-radius: 80%;
    background-color: rgb(102, 245, 245);
    min-width: 40px;
    min-height: 40px;
    margin-left:3px;
    margin-right: 10px;
    align-self: center;
}

.msg_icon_C {
    border-radius: 80%;
    background-color: rgb(102, 245, 245);
    min-width: 40px;
    min-height: 40px;
    margin-left:10px;
    margin-right: 3px;
    align-self: center;
}